@font-face {
    font-display: block;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/HKGrotesk-Light.eot);
    src: url(/fonts/HKGrotesk-Light.eot#iefix) format("embedded-opentype"), url(/fonts/HKGrotesk-Light.woff2) format("woff2"), url(/fonts/HKGrotesk-Light.woff) format("woff"), url(/fonts/HKGrotesk-Light.otf) format("otf"), url(/fonts/HKGrotesk-Light.ttf) format("truetype")
}

@font-face {
    font-display: block;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/HKGrotesk-Regular.eot);
    src: url(/fonts/HKGrotesk-Regular.eot#iefix) format("embedded-opentype"), url(/fonts/HKGrotesk-Regular.woff2) format("woff2"), url(/fonts/HKGrotesk-Regular.woff) format("woff"), url(/fonts/HKGrotesk-Regular.otf) format("otf"), url(/fonts/HKGrotesk-Regular.ttf) format("truetype")
}

@font-face {
    font-display: block;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/HKGrotesk-SemiBold.eot);
    src: url(/fonts/HKGrotesk-SemiBold.eot#iefix) format("embedded-opentype"), url(/fonts/HKGrotesk-SemiBold.woff2) format("woff2"), url(/fonts/HKGrotesk-SemiBold.woff) format("woff"), url(/fonts/HKGrotesk-SemiBold.otf) format("otf"), url(/fonts/HKGrotesk-SemiBold.ttf) format("truetype")
}

@font-face {
    font-display: block;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/HKGrotesk-Bold.eot);
    src: url(/fonts/HKGrotesk-Bold.eot#iefix) format("embedded-opentype"), url(/fonts/HKGrotesk-Bold.woff2) format("woff2"), url(/fonts/HKGrotesk-Bold.woff) format("woff"), url(/fonts/HKGrotesk-Bold.otf) format("otf"), url(/fonts/HKGrotesk-Bold.ttf) format("truetype")
}